@import 'style';

header
{
	position: fixed;
	width: 100%;
	display: block;
	z-index: 9999;
	left: 0px;
	padding: 20px 0px;

	.logo_container
	{
		padding:0px;
	}

	.logo_container img
	{
		width: 70%;
		transition: 0.3s all ease-in-out;
	}

	.col-md-9
	{
		padding:0px;
	}
	
	ul
	{
	    display: flex;
	    align-items: center;
	    list-style: none;
	    width: 100%;
	    width: fit-content;
	    position: relative;
	    float: right;

		li
		{
			margin-left: 30px;
			transition: 0.3s all ease-in-out;

			a
			{
				color: #fff;
				font-size: 14px;
				letter-spacing: 0.3px;
				font-weight: 400;
				text-transform: uppercase;

				&:hover
				{
					color: #00e0e0;
				}

				.sub-menu
				{
					
				}
			}
		}
	}
}
.modal-backdrop
{
	display: none;
}

@import 'header-responsive'
